@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Developer Conference</h1>
    <img src="~/images/conference.jpg" />
</div>

<div>
    <ul>
        <li>Creative</li>
        <li>Virtual Platform</li>
        <li>Learn From Experts</li>
    </ul>
</div>

<a clas="btn btn-primary" asp-action="RegisterForm">Register for Developer Conference </a>

